body {
  padding-top: 120px;
  background-color: #252839;
  color: #b5b5b7;
  font: Trebuchet MS, sans-serif;
}



/* Navbar styles
-------------------------------------------------- */
.navbar {
	background-color: #252839;		
}

.navbar-brand {
	color: #677077;
	font-size: 55px;
}

.navbar-brand-circle {
	border-radius: 50%;
	width: 64px;
	height: 64px;
	border: 2px solid #677077;
	background: #f2b632;
	text-align: center;
	font: 55px Trebuchet MS, sans-serif;
	padding: 0px;
}

.navbar-brand:hover {
	color: #b5b5b7;
}

.navbar-brand-circle:hover {
	border: 3px solid #b5b5b7;
}

.nav-item > a {
	color: #b5b5b7;
	font-size: 22px;
	margin: 15px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(181, 181, 183, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn-outline-secondary {
	color: #f2b632;
}


/* Page element styles
-------------------------------------------------- */
.h1, h1 {
    font-size: 5.5rem;
	margin-bottom: 30px;
}

.main {
	margin-top: 75px;
}


/* Behaviors
-------------------------------------------------- */
a:hover { 
    color: #f2b632;
	text-decoration: none;
	font-weight: bold;
}