body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: white;
}

.bg {
    /* The image used */
    background-image: url(../images/mainBg.jpg);

    /* Full height */
    height: 100%; 
    opacity: .75;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    margin: 0;
    text-align: center;
    color: white;
}

.caption h1 {
    color: black;
    margin: 0;
    font-size: 14vw;
    letter-spacing: 1vw;
	color: white;
}
    
.caption h2 {
  color: white;
  font-size: 4vw;
  letter-spacing: 1vw;
}
    
.caption h4 {
  color: white;
  padding: 18px;
  font-size: 1.8vw;
  letter-spacing: .4vw;
}

.caption hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #000;
  max-width: 40vw;
  opacity: 1;
}
